.hero-section {
  position: relative; 
  width: 100%; 
  height: 40vh; 
  color: white; 

  background-image: url('../img/Header.jpg');
  background-size: cover; 
  background-position: center; 

  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.hero-section::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.hero-content {
  position: relative; 
  z-index: 2;
}

.hero-content hr {
  border-color: rgba(255, 255, 255, 0.9); 
}

.fs-7 {
  font-size: 0.65rem !important;
}